<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<system.webServer>
  <handlers>
    <remove name="PHP73x86_via_FastCGI" />
    <add name="PHP73x86_via_FastCGI" path="*.php" verb="GET, POST, PUT, DELETE, PATCH" modules="FastCgiModule" scriptProcessor="D:\Program Files (x86)\PHP\v7.3\php-cgi.exe" resourceType="Either" requireAccess="Script" />
  </handlers>
  <security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="100000000"/>
    </requestFiltering>
  </security>
  <staticContent>
    <remove fileExtension=".woff" />
    <remove fileExtension=".woff2" />
    <remove fileExtension=".ttf" />
    <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    <mimeMap fileExtension=".ttf" mimeType="application/font-sfnt" />
  </staticContent>
</system.webServer>
</configuration>